#header1{
    background-color: aquamarine
    ;
    color: black;
    position:sticky;
    top:0px;
    border: 2px solid black;
    
}
#a{
    background-color: aquamarine;
}
#b{
    margin-top: 80px;
    background-color: aquamarine;
}
#c{
    background-color: aquamarine;
}
#a1{
    
    position: relative;
    left: 30px;
    background-color: aqua;
}
#a2{
   
    position: fixed;
    left: 30px;
    background-color: aqua;
}
#b1{
    display: block;
    background-color: aqua;
}
#b2{
    display: inline;
    background-color:aqua;
}
#c1{
    visibility: visible;
    background-color: aqua;
}
#c2{
    visibility: hidden;
    background-color: aqua;
    
}
p{
    background-color: aliceblue;
}
